# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/.gradle/
android/build/
android/app/build/
ios/Pods/
ios/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.production

# Firebase / Google config files
google-services.json
GoogleService-Info.plist
firebase-debug.log
**/google-services.json
**/GoogleService-Info.plist
**/firebase-debug.log
serviceAccountKey.json

# TypeScript
*.tsbuildinfo

# Mac
.DS_Store

# VS Code
.vscode/

# Secrets / credentials
*.key
*.pem
*.p12
*.keystore
*.jks
credentials.json
.expo/
android/
ios/
